<div class="main-div">
    <div class="form-div">
        <form #registerForm='ngForm' (ngSubmit)="onSubmit(registerForm)">
            <h1 class="heading">Register</h1>
            <label>Name:</label>
            <input type="text" name="name" ngModel required />
            <br>
            <label>Email:</label>
            <input type="email" name="email" ngModel required email />
            <br>
            <button type="submit">
                Register
            </button>
        </form>
    </div>
</div>