# Compiled output
dist/
tmp/
out-tsc/

# Node dependencies
node_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Misc
.DS_Store
Thumbs.db

# Angular build cache
.angular/

# Environment files (optional, if you don't want to push secrets)
# Uncomment the lines below if env files have secrets
# src/environments/environment*.ts

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Coverage reports
coverage/

# System Files
*.swp
